.navbar {
    background-color: #2C3E50;
}

.title {
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    color: white !important;
}

.nav-ancors {
    /* padding: 20px  !important; */
    
    font-weight: 700 !important;
    color: white !important;
    text-transform: uppercase !important;

}

.navbar{
    z-index: 999999999;
}
/* .nav-link.active{
    background-color: red;
} */